version: '3.4'

services:
  database:
    image: mongo
    container_name: mongodb
    restart: always
    logging:
      driver: none
    volumes:
      - ./mongo-volume:/data/db
    ports:
      - 27017:27017
  backend:
    image: node:16.14.0-alpine
    depends_on:
      - 'database'
    container_name: shorter-backend
    environment:
      - DATABASE_ADRESS='mongodb://database:27017/'
      # - DATABASE_ADRESS='mongodb://host.docker.internal:27017/' # alternative address
      - PORT=3000
      - NODE_ENV='development'
      - SECRET='keyboard cat'
      - JWT_SECRET='jwtsecret'
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    volumes:
      - .:/app
      - /app/node_modules
volumes:
  data:
